:root {
  --primary: #b21e1e;
  --light: #f5ebd3;
  --dark: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

p,
a {
  font-size: 1.875rem;
}

button {
  width: 370px;
  height: 80px;

  background: var(--primary);
  border-radius: 20px;
  border: none;
}

button a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

#dark-filler {
  width: 100%;
  height: 100%;
  background: var(--dark);
}

#home-grid-wrapper {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(200px, 1520px) minmax(
      80px,
      1fr
    );
  grid-template-rows: minmax(100vh, 1000px) 645px 1000px 370px 645px 1000px 645px 830px 500px;
  gap: 20px;

  grid-template-areas:
    "af af af"
    ". we ."
    "me me me"
    "pd pd pd"
    ". te ."
    "re re re"
    ". li ."
    ". ml ml"
    ". fo .";

  background: var(--primary);
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: absolute;
  top: 0;

  height: 150px;
  width: 100%;
  background: none;
}

.header-onscroll {
  position: fixed;
  background: var(--dark);

  align-items: center;
  height: 90px;

  transition: all 0.25s ease;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1520px;
  min-width: 200px;
  margin: 0 200px;
}

.navigation {
  width: 100%;
  max-width: 900px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;

  list-style: none;

  width: 100%;
  font-size: 1.9rem;
}

.navigation ul a {
  text-decoration: none;
}

.navigation ul a:hover {
  color: var(--primary);
}

#above-fold {
  background-color: #000000;
  background-image: url("../img/home_background.png");
  background-size: cover;

  width: 100%;
  grid-area: af;
}

#above-fold-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 1520px;
  margin: 0 200px;
}

#above-fold-content-btn {
  margin-top: 50px;
}

#welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: we;
}

#welcome-text {
  width: 750px;
}

#welcome-image img {
  box-shadow: 26px 32px var(--dark);
  border-radius: 20px;
}

#menu {
  grid-area: me;
  background: var(--dark);
}

#menu-image,
#menu-image img {
  height: 100%;
}

#pizza-divider {
  grid-area: pd;
}

#location-info {
  grid-area: li;
}

#reservation {
  grid-area: re;
}

#testimonials {
  grid-area: te;
}

#mailing-list {
  grid-area: ml;
}

#footer {
  grid-area: fo;
}
