:root {
  --primary: #b21e1e;
  --primary-dark: #991a1a;
  --light: #f5ebd3;
  --dark: #1b1b1b;
}

*:not(#map *) {
  color: var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

p,
a,
li {
  font-size: 1.875rem;
}

button {
  background: var(--primary);
}

button:not(#map *) {
  display: inline-block;
  width: 370px;
  height: 80px;

  font-size: 1.875rem;
  border-radius: 20px;
  border: none;
}

button:hover {
  background: var(--primary-dark);
}
